@using Presentation.Models;
@model IEnumerable<Presentation.Models.OrderResponseModel>
@{
    ViewData["Title"] = "Order";
}

@foreach (var order in Model)
{
    


    <div class="container position-relative">
        <div class="position-absolute end-0" style="z-index: 100;">
            <form method="post" asp-action="DeleteOrder" asp-controller="Order">
                <input class="d-none" value="@order.OrderId" name="orderId"/>
                <button type="submit" class="bg-warning border-0 px-2 rounded-3">x</button>
            </form>
            
        </div>
        <div class="row alert alert-info">
            <div class="col-md-6">
                <p>To: @order.UserOrderInfo.Name | PhoneNumber: @order.UserOrderInfo.PhoneNumber</p>
                <span>Order At: @order.CreateAt</span>
            </div>
            <div class="col-md-6">
                <p>Address: @order.UserOrderInfo.Address, @order.UserOrderInfo.Ward, @order.UserOrderInfo.District, @order.UserOrderInfo.Province</p>
                <span>Type: @order.UserOrderInfo.AddressType</span>
            </div>
            <p>Status: @OrderStatus(@order.OrderStatus)</p>
            <form method="post" asp-action="ChangeStatus" asp-controller="Order">
                <input name="orderId" class="d-none" value="@order.OrderId" />
                <input name="currentStatus" class="d-none" value="@order.OrderStatus" />
                <select name="statusCode" onselect="@order.OrderStatus">
                    <option value="0" selected="@checktrue(@order.OrderStatus, "0")">INPROGRESS</option>
                    <option value="1" selected="@checktrue(@order.OrderStatus, "1")">CONFIRMED</option>
                    <option value="2" selected="@checktrue(@order.OrderStatus, "2")">SHIPPING</option>
                    <option value="3" selected="@checktrue(@order.OrderStatus, "3")">SUCCESS</option>
                    <option value="4" selected="@checktrue(@order.OrderStatus, "4")">CANCELED</option>
                </select>
                <button type="submit">Update</button>
            </form>
            <ul class="list-group">
                @foreach (var product in order.Products)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3" style="width: 100px">
                                <img src="@ViewBag.BaseAddress@product.ProductImagePath" alt="Product Image" class="img-fluid">
                            </div>
                            <div class="col-md-5">
                                <h5 class="mb-1">@product.Name</h5>
                                <p class="mb-1">@product.Description</p>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-1">Price: @product.Price</p>
                                <p class="mb-1">Quantity: @product.Quantity</p>
                            </div>
                        </div>
                    </li>
                }
                <h3>Total: @CalTotalPrice(order.Products)</h3>
            </ul>
        </div>
    </div>
}

@functions {
    decimal CalTotalPrice(IEnumerable<OrderProductResponseModel> products)
    {
        decimal total = 0;
        foreach (var product in products)
        {
            total += product.Quantity * product.Price;
        }
        return total;
    }

    string OrderStatus(string type)
    {
        switch (type)
        {
            case "0":
                return "INPROGRESS";
            case "1":
                return "CONFIRMED";
            case "2":
                return "SHIPPING";
            case "3":
                return "SUCCESS";
            case "4":
                return "CANCELED";
            default: return "";
        }
    }

    bool checktrue(string a, string b)
    {
        if (a == b) return true;
        return false;
    }
}

