@using Presentation.Models;
@model IEnumerable<Presentation.Models.OrderResponseModel>
@{
    ViewData["Title"] = "Order";
}

<h2>Order</h2>

@foreach(var order in Model)
{
    <div class="container">
        <div class="row alert alert-info">
            <div class="col-md-6">
                <p>To: @order.UserOrderInfo.Name | PhoneNumber: @order.UserOrderInfo.PhoneNumber</p>
                <span>Order At: @order.CreateAt</span>
            </div>
            <div class="col-md-6">
                <p>Address: @order.UserOrderInfo.Address, @order.UserOrderInfo.Ward, @order.UserOrderInfo.District, @order.UserOrderInfo.Province</p>
                <span>Type: @order.UserOrderInfo.AddressType</span>
            </div>
            @if (@order.OrderStatus == "4")
            {
                <p>Status: CANCELED</p>
            }
            <nav id="order-stepper-@order.OrderId.ToString()"></nav>
            <ul class="list-group">
                @foreach(var product in order.Products)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3" style="width: 100px">
                                <img src="https://localhost:7107/@product.ProductImagePath" alt="Product Image" class="img-fluid">
                            </div>
                            <div class="col-md-5">
                                <h5 class="mb-1">@product.Name</h5>
                                <p class="mb-1">@product.Description</p>
                            </div>
                            <div class="col-md-4">
                                <p class="mb-1">Price: @product.Price</p>
                                <p class="mb-1">Quantity: @product.Quantity</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <h3>Total: @CalTotalPrice(order.Products)</h3>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#order-stepper-@order.OrderId.ToString()").kendoStepper({
                steps: [{
                    label: "INPROGRESS",
                    selected: @order.OrderStatus == "0"
                }, {
                    label: "CONFIRMED",
                    selected: @order.OrderStatus == "1"
                }, {
                    label: "SHIPPING",
                    selected: @order.OrderStatus == "2"
                }, {
                    label: "SUCCESS",
                    selected: @order.OrderStatus == "3"
                }]
            });

            var stepper = $("#order-stepper-@order.OrderId.ToString()").data("kendoStepper");
            stepper.enable(false);
        });
    </script>
}



@functions{
    decimal CalTotalPrice(IEnumerable<OrderProductResponseModel> products)
    {
        decimal total = 0;
        foreach (var product in products)
        {
            total += product.Quantity * product.Price;
        }
        return total;
    }

    
}




